<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00160.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{62,35}</string>
                <key>spriteSize</key>
                <string>{242,120}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1,439},{242,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>00161.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,62}</string>
                <key>spriteSize</key>
                <string>{140,174}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1,297},{140,174}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>00162.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,14}</string>
                <key>spriteSize</key>
                <string>{188,168}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1,127},{188,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00163.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-4}</string>
                <key>spriteSize</key>
                <string>{124,210}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1,1},{124,210}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>00164.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,40}</string>
                <key>spriteSize</key>
                <string>{144,118}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{123,439},{144,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>00165.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,35}</string>
                <key>spriteSize</key>
                <string>{118,116}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{123,585},{118,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>160.png</string>
            <key>size</key>
            <string>{242,702}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ea136ce118860e6a5959f8e3ec287654:2e66d7efcc213097de198e7904d5ac38:6414d7158de5f4d51d12cc11f077ec71$</string>
            <key>textureFileName</key>
            <string>160.png</string>
        </dict>
    </dict>
</plist>
