<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00180.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,2}</string>
                <key>spriteSize</key>
                <string>{138,162}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1,411},{138,162}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>00181.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{69,36}</string>
                <key>spriteSize</key>
                <string>{228,114}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1,295},{228,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00182.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,50}</string>
                <key>spriteSize</key>
                <string>{208,164}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1,1},{208,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00183.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-38,24}</string>
                <key>spriteSize</key>
                <string>{248,126}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1,167},{248,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00184.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,26}</string>
                <key>spriteSize</key>
                <string>{124,122}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1,551},{124,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00185.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,34}</string>
                <key>spriteSize</key>
                <string>{130,110}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{127,551},{130,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>180.png</string>
            <key>size</key>
            <string>{250,682}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bf32169dc0fd9e551662323e94b86312:f55bd4e5918e3f18920b167981f35d07:7decda7b69a209213b9a7ea5afde59d8$</string>
            <key>textureFileName</key>
            <string>180.png</string>
        </dict>
    </dict>
</plist>
