<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00220.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,59}</string>
                <key>spriteSize</key>
                <string>{124,184}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1,125},{124,184}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>00221.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-44,30}</string>
                <key>spriteSize</key>
                <string>{232,126}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{187,125},{232,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00222.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{67,23}</string>
                <key>spriteSize</key>
                <string>{236,140}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1,253},{236,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00223.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{76,34}</string>
                <key>spriteSize</key>
                <string>{248,122}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{167,1},{248,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00224.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,23}</string>
                <key>spriteSize</key>
                <string>{142,146}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{239,253},{142,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>00225.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,38}</string>
                <key>spriteSize</key>
                <string>{164,116}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1,1},{164,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>220.png</string>
            <key>size</key>
            <string>{420,396}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:01f7d503ad56aeb1278a7c0213b15b7c:0541fd8d46423f3b47b7e919a088b442:0e7da6acc5733075c7ab965e6a973ec7$</string>
            <key>textureFileName</key>
            <string>220.png</string>
        </dict>
    </dict>
</plist>
