<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00300.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,16}</string>
                <key>spriteSize</key>
                <string>{112,154}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{153,1},{112,154}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>00301.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,56}</string>
                <key>spriteSize</key>
                <string>{184,114}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{309,1},{184,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00302.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,58}</string>
                <key>spriteSize</key>
                <string>{148,172}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{333,251},{148,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>00303.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,58}</string>
                <key>spriteSize</key>
                <string>{132,166}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{163,117},{132,166}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>00304.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,54}</string>
                <key>spriteSize</key>
                <string>{132,158}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{331,117},{132,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>00305.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,55}</string>
                <key>spriteSize</key>
                <string>{134,160}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1,241},{134,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>00306.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,59}</string>
                <key>spriteSize</key>
                <string>{144,168}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{163,251},{144,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>00307.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,57}</string>
                <key>spriteSize</key>
                <string>{124,160}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1,115},{124,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>00308.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,50}</string>
                <key>spriteSize</key>
                <string>{110,150}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1,1},{110,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>down_death.png</string>
            <key>size</key>
            <string>{506,400}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:784867d014553e3eb12b98f1b807dce8:dbb39dd78fbc9a35e77057bfcf2009d0:21465c9513128a816f55433947eb079a$</string>
            <key>textureFileName</key>
            <string>down_death.png</string>
        </dict>
    </dict>
</plist>
