<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00040.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,15}</string>
                <key>spriteSize</key>
                <string>{112,156}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1,1},{112,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00041.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,15}</string>
                <key>spriteSize</key>
                <string>{112,156}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1,159},{112,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00042.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,15}</string>
                <key>spriteSize</key>
                <string>{112,156}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1,317},{112,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00043.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,15}</string>
                <key>spriteSize</key>
                <string>{112,156}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1,475},{112,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>down_stand.png</string>
            <key>size</key>
            <string>{114,632}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7c4b410cc4054bc0bd88608a8c571fd6:b6d499129af024f4c43d7138397d037f:da721332d8d47a37d14d88e0899b4355$</string>
            <key>textureFileName</key>
            <string>down_stand.png</string>
        </dict>
    </dict>
</plist>
