<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00320.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,38}</string>
                <key>spriteSize</key>
                <string>{164,116}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{253,263},{164,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>00321.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{48,52}</string>
                <key>spriteSize</key>
                <string>{114,144}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{371,263},{114,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00322.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{64,22}</string>
                <key>spriteSize</key>
                <string>{200,122}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1,221},{200,122}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>00323.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{64,23}</string>
                <key>spriteSize</key>
                <string>{190,128}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{307,1},{190,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00324.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{60,24}</string>
                <key>spriteSize</key>
                <string>{182,130}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{307,131},{182,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00325.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{65,22}</string>
                <key>spriteSize</key>
                <string>{192,126}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{125,219},{192,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>00326.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{65,20}</string>
                <key>spriteSize</key>
                <string>{192,122}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{183,1},{192,122}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>00327.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{79,7}</string>
                <key>spriteSize</key>
                <string>{218,92}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1,1},{218,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>00328.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{76,-1}</string>
                <key>spriteSize</key>
                <string>{216,86}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{95,1},{216,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>left_death.png</string>
            <key>size</key>
            <string>{498,428}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:78a5a1ed61e73663442add8f8dd73d01:088be3b97e719ca0dd9d74279f24a6bb:3c162e4e22db6e4715dbf43c2e64190f$</string>
            <key>textureFileName</key>
            <string>left_death.png</string>
        </dict>
    </dict>
</plist>
