<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00060.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,37}</string>
                <key>spriteSize</key>
                <string>{162,114}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{499,1},{162,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00061.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,37}</string>
                <key>spriteSize</key>
                <string>{164,114}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1,1},{164,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00062.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,37}</string>
                <key>spriteSize</key>
                <string>{164,114}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{167,1},{164,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00063.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,37}</string>
                <key>spriteSize</key>
                <string>{164,114}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{333,1},{164,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>left_stand.png</string>
            <key>size</key>
            <string>{662,116}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d9b4840cd0dedf829d0b39bad2b3f69c:507407a745b777a1cf24db5c30a8cf2c:5c3d5264a800968fa9047cc653990071$</string>
            <key>textureFileName</key>
            <string>left_stand.png</string>
        </dict>
    </dict>
</plist>
