<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00140.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{37,52}</string>
                <key>spriteSize</key>
                <string>{208,146}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1,243},{208,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00141.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{44,42}</string>
                <key>spriteSize</key>
                <string>{230,134}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{249,121},{230,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00142.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{34,36}</string>
                <key>spriteSize</key>
                <string>{252,118}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{235,1},{252,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00143.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,28}</string>
                <key>spriteSize</key>
                <string>{232,116}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1,1},{232,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00144.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{41,36}</string>
                <key>spriteSize</key>
                <string>{246,120}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1,121},{246,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00145.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{39,52}</string>
                <key>spriteSize</key>
                <string>{296,144}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{211,257},{296,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>left_run.png</string>
            <key>size</key>
            <string>{508,402}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c9cfc436e3f75d793534f994adeb3171:e5afd7c544c03bba72d8d1cd0896318f:fdd6271200af2e891417397338c9ff3b$</string>
            <key>textureFileName</key>
            <string>left_run.png</string>
        </dict>
    </dict>
</plist>
