<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00020.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,34}</string>
                <key>spriteSize</key>
                <string>{134,112}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1,1},{134,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00021.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,34}</string>
                <key>spriteSize</key>
                <string>{132,110}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{113,139},{132,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00022.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,34}</string>
                <key>spriteSize</key>
                <string>{134,110}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1,115},{134,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>00023.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,33}</string>
                <key>spriteSize</key>
                <string>{136,110}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{137,1},{136,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>right_stand.png</string>
            <key>size</key>
            <string>{248,250}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fab3c122a43a16bda0f0fb0804fbd14b:292aa24e5f3be2372c4c54d7d4c96571:c35f37eebb3174ec6dcc04c3bd9ecee2$</string>
            <key>textureFileName</key>
            <string>right_stand.png</string>
        </dict>
    </dict>
</plist>
