<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00100.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,41}</string>
                <key>spriteSize</key>
                <string>{238,102}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{381,123},{238,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>00101.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,43}</string>
                <key>spriteSize</key>
                <string>{242,108}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1,261},{242,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00102.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,47}</string>
                <key>spriteSize</key>
                <string>{262,114}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1,145},{262,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00103.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,50}</string>
                <key>spriteSize</key>
                <string>{222,112}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{267,123},{222,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>00104.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,53}</string>
                <key>spriteSize</key>
                <string>{190,120}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{267,1},{190,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00105.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,63}</string>
                <key>spriteSize</key>
                <string>{264,142}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1,1},{264,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>right_run.png</string>
            <key>size</key>
            <string>{484,370}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:72fac6fabe21aa22c12560a5060027f1:bc553e729e7057861f21a52300d08a98:21089ca87e22a0f852173f1ee598e179$</string>
            <key>textureFileName</key>
            <string>right_run.png</string>
        </dict>
    </dict>
</plist>
