<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00280.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,34}</string>
                <key>spriteSize</key>
                <string>{130,110}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1,355},{130,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>00281.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,45}</string>
                <key>spriteSize</key>
                <string>{140,138}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{273,349},{140,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00282.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-47,31}</string>
                <key>spriteSize</key>
                <string>{170,146}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{183,1},{170,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00283.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-49,24}</string>
                <key>spriteSize</key>
                <string>{164,136}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{115,149},{164,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00284.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-45,25}</string>
                <key>spriteSize</key>
                <string>{156,138}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{115,287},{156,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00285.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-48,23}</string>
                <key>spriteSize</key>
                <string>{162,134}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{281,213},{162,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00286.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-57,27}</string>
                <key>spriteSize</key>
                <string>{180,142}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1,1},{180,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00287.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-69,12}</string>
                <key>spriteSize</key>
                <string>{208,112}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1,145},{208,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>00288.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-72,1}</string>
                <key>spriteSize</key>
                <string>{210,90}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{355,1},{210,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>right_death.png</string>
            <key>size</key>
            <string>{446,488}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:04dcbe9c4ab697532009f3954c33a834:aa823db3c120e436692686177dd863c7:6a0752eac241ecba35ada2e118973073$</string>
            <key>textureFileName</key>
            <string>right_death.png</string>
        </dict>
    </dict>
</plist>
