<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00260.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,35}</string>
                <key>spriteSize</key>
                <string>{118,116}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1,1},{118,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00261.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{32,14}</string>
                <key>spriteSize</key>
                <string>{182,150}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{281,259},{182,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00262.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-40}</string>
                <key>spriteSize</key>
                <string>{152,134}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{281,123},{152,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00263.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-42}</string>
                <key>spriteSize</key>
                <string>{136,134}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1,249},{136,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00264.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-28}</string>
                <key>spriteSize</key>
                <string>{132,124}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1,119},{132,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00265.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-33}</string>
                <key>spriteSize</key>
                <string>{144,128}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{135,119},{144,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00266.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-47}</string>
                <key>spriteSize</key>
                <string>{140,144}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{139,249},{140,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00267.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-61}</string>
                <key>spriteSize</key>
                <string>{120,176}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{305,1},{120,176}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>00268.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-66}</string>
                <key>spriteSize</key>
                <string>{116,182}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{121,1},{116,182}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>up_death.png</string>
            <key>size</key>
            <string>{482,410}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1917aaab695c2a43274e7322e983ef2a:242612ac7b561f4d002bc2291d100c56:bc438be1944c79af020789f2345afb73$</string>
            <key>textureFileName</key>
            <string>up_death.png</string>
        </dict>
    </dict>
</plist>
