<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00080.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27,32}</string>
                <key>spriteSize</key>
                <string>{154,198}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{141,1},{154,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00081.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,41}</string>
                <key>spriteSize</key>
                <string>{146,176}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{435,1},{146,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00082.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,43}</string>
                <key>spriteSize</key>
                <string>{138,208}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1,1},{138,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00083.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,24}</string>
                <key>spriteSize</key>
                <string>{136,182}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{297,1},{136,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00084.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,23}</string>
                <key>spriteSize</key>
                <string>{116,136}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{729,1},{116,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00085.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,48}</string>
                <key>spriteSize</key>
                <string>{144,166}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{583,1},{144,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>up_run.png</string>
            <key>size</key>
            <string>{846,210}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:290f7d2b1a233ee8f8a162f1cd44dbc2:2515ef611555150914765fa5f6d60556:93d364f392ee839f2404870414d17b31$</string>
            <key>textureFileName</key>
            <string>up_run.png</string>
        </dict>
    </dict>
</plist>
