<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00010.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,33}</string>
                <key>spriteSize</key>
                <string>{128,114}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1,117},{128,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>00011.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,34}</string>
                <key>spriteSize</key>
                <string>{128,114}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{117,131},{128,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00012.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,33}</string>
                <key>spriteSize</key>
                <string>{128,112}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{133,1},{128,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>00013.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,33}</string>
                <key>spriteSize</key>
                <string>{130,114}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1,1},{130,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>up_stand.png</string>
            <key>size</key>
            <string>{246,246}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ae1d41b332a4edaab5befa826b934c3e:a9e7f9c50b4bd44657122db5dd79aa41:970db50a12c4576f7dce691e79e8b00c$</string>
            <key>textureFileName</key>
            <string>up_stand.png</string>
        </dict>
    </dict>
</plist>
