<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>03760.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,104}</string>
                <key>spriteSourceSize</key>
                <string>{78,104}</string>
                <key>textureRect</key>
                <string>{{1,103},{78,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>03761.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,82}</string>
                <key>spriteSourceSize</key>
                <string>{98,82}</string>
                <key>textureRect</key>
                <string>{{107,125},{98,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>03762.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,100}</string>
                <key>spriteSourceSize</key>
                <string>{134,100}</string>
                <key>textureRect</key>
                <string>{{1,1},{134,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03763.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,99}</string>
                <key>spriteSourceSize</key>
                <string>{122,99}</string>
                <key>textureRect</key>
                <string>{{137,1},{122,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>03764.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,58}</string>
                <key>spriteSourceSize</key>
                <string>{102,58}</string>
                <key>textureRect</key>
                <string>{{1,183},{102,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03765.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,57}</string>
                <key>spriteSourceSize</key>
                <string>{100,57}</string>
                <key>textureRect</key>
                <string>{{191,125},{100,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>d_death.png</string>
            <key>size</key>
            <string>{249,242}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:68dd4e424e5131acf841f816f6a1db39:84a1bf646338ee1cc108eb750f84c52e:5564e23eefafdac26864bbb0c777f54d$</string>
            <key>textureFileName</key>
            <string>d_death.png</string>
        </dict>
    </dict>
</plist>
