<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>03580.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,97}</string>
                <key>spriteSourceSize</key>
                <string>{88,97}</string>
                <key>textureRect</key>
                <string>{{101,1},{88,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03581.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,88}</string>
                <key>spriteSourceSize</key>
                <string>{90,88}</string>
                <key>textureRect</key>
                <string>{{183,100},{90,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>03582.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,92}</string>
                <key>spriteSourceSize</key>
                <string>{78,92}</string>
                <key>textureRect</key>
                <string>{{191,1},{78,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03583.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,105}</string>
                <key>spriteSourceSize</key>
                <string>{92,105}</string>
                <key>textureRect</key>
                <string>{{1,104},{92,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03584.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,103}</string>
                <key>spriteSourceSize</key>
                <string>{86,103}</string>
                <key>textureRect</key>
                <string>{{95,104},{86,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03585.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,101}</string>
                <key>spriteSourceSize</key>
                <string>{98,101}</string>
                <key>textureRect</key>
                <string>{{1,1},{98,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>d_run.png</string>
            <key>size</key>
            <string>{272,210}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2f4baee1d159d0fc39c086c8fcb5f2c3:c020b762af3203a46f5018b305c7a08b:dd38083fe560bff5655eaae6e62389cb$</string>
            <key>textureFileName</key>
            <string>d_run.png</string>
        </dict>
    </dict>
</plist>
