<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>03680.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,102}</string>
                <key>spriteSourceSize</key>
                <string>{106,102}</string>
                <key>textureRect</key>
                <string>{{105,104},{106,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03681.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,106}</string>
                <key>spriteSourceSize</key>
                <string>{102,106}</string>
                <key>textureRect</key>
                <string>{{1,95},{102,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03682.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,108}</string>
                <key>spriteSourceSize</key>
                <string>{114,108}</string>
                <key>textureRect</key>
                <string>{{105,208},{114,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03683.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,105}</string>
                <key>spriteSourceSize</key>
                <string>{92,105}</string>
                <key>textureRect</key>
                <string>{{1,1},{92,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>03684.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,101}</string>
                <key>spriteSourceSize</key>
                <string>{110,101}</string>
                <key>textureRect</key>
                <string>{{108,1},{110,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03685.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,102}</string>
                <key>spriteSourceSize</key>
                <string>{106,102}</string>
                <key>textureRect</key>
                <string>{{1,203},{106,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>l_attack.png</string>
            <key>size</key>
            <string>{220,317}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c907be246b359eafe97bfbe2e30767c6:41c0b108208da9922f6318b5e5e295a6:10f67c17eef350a79b0cd8335c164a44$</string>
            <key>textureFileName</key>
            <string>l_attack.png</string>
        </dict>
    </dict>
</plist>
