<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>03600.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,102}</string>
                <key>spriteSourceSize</key>
                <string>{110,102}</string>
                <key>textureRect</key>
                <string>{{235,1},{110,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03601.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,92}</string>
                <key>spriteSourceSize</key>
                <string>{88,92}</string>
                <key>textureRect</key>
                <string>{{551,1},{88,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03602.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,98}</string>
                <key>spriteSourceSize</key>
                <string>{94,98}</string>
                <key>textureRect</key>
                <string>{{455,1},{94,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03603.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,106}</string>
                <key>spriteSourceSize</key>
                <string>{100,106}</string>
                <key>textureRect</key>
                <string>{{347,1},{100,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>03604.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,104}</string>
                <key>spriteSourceSize</key>
                <string>{112,104}</string>
                <key>textureRect</key>
                <string>{{121,1},{112,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03605.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,104}</string>
                <key>spriteSourceSize</key>
                <string>{118,104}</string>
                <key>textureRect</key>
                <string>{{1,1},{118,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>l_run.png</string>
            <key>size</key>
            <string>{640,106}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:41ddb98ae579b3d9cd0c6a408a30957b:3dfd05aab7236425a7d221f924e7e7b7:b473a78ccb0c78fb5135327ad3876f57$</string>
            <key>textureFileName</key>
            <string>l_run.png</string>
        </dict>
    </dict>
</plist>
