<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>03520.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,102}</string>
                <key>spriteSourceSize</key>
                <string>{104,102}</string>
                <key>textureRect</key>
                <string>{{106,111},{104,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>03521.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,103}</string>
                <key>spriteSourceSize</key>
                <string>{110,103}</string>
                <key>textureRect</key>
                <string>{{1,111},{110,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>03522.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,108}</string>
                <key>spriteSourceSize</key>
                <string>{106,108}</string>
                <key>textureRect</key>
                <string>{{1,1},{106,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03523.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,103}</string>
                <key>spriteSourceSize</key>
                <string>{96,103}</string>
                <key>textureRect</key>
                <string>{{210,105},{96,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03524.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,98}</string>
                <key>spriteSourceSize</key>
                <string>{94,98}</string>
                <key>textureRect</key>
                <string>{{212,1},{94,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03525.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,101}</string>
                <key>spriteSourceSize</key>
                <string>{102,101}</string>
                <key>textureRect</key>
                <string>{{109,1},{102,101}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>l_stand.png</string>
            <key>size</key>
            <string>{307,222}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5d0297ee12b08501a7e0dafa7c628d7c:c89a390c45fcbf8a13df4e5caf164426:d73f8c5fb40ce1482d53d5974e2e800a$</string>
            <key>textureFileName</key>
            <string>l_stand.png</string>
        </dict>
    </dict>
</plist>
