<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>03560.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,99}</string>
                <key>spriteSourceSize</key>
                <string>{134,99}</string>
                <key>textureRect</key>
                <string>{{281,1},{134,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03561.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,93}</string>
                <key>spriteSourceSize</key>
                <string>{112,93}</string>
                <key>textureRect</key>
                <string>{{675,1},{112,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03562.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,93}</string>
                <key>spriteSourceSize</key>
                <string>{124,93}</string>
                <key>textureRect</key>
                <string>{{549,1},{124,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03563.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,107}</string>
                <key>spriteSourceSize</key>
                <string>{130,107}</string>
                <key>textureRect</key>
                <string>{{417,1},{130,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03564.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,102}</string>
                <key>spriteSourceSize</key>
                <string>{138,102}</string>
                <key>textureRect</key>
                <string>{{1,1},{138,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03565.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,98}</string>
                <key>spriteSourceSize</key>
                <string>{138,98}</string>
                <key>textureRect</key>
                <string>{{141,1},{138,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>r_run.png</string>
            <key>size</key>
            <string>{788,109}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1297a02d60102e45e6d3996d2e386fb5:af61c42c157df0eee00646bd062e6b47:5f6f00234e2431065b642d26f6377d1e$</string>
            <key>textureFileName</key>
            <string>r_run.png</string>
        </dict>
    </dict>
</plist>
