<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>03620.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,104}</string>
                <key>spriteSourceSize</key>
                <string>{94,104}</string>
                <key>textureRect</key>
                <string>{{1,114},{94,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03621.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,97}</string>
                <key>spriteSourceSize</key>
                <string>{78,97}</string>
                <key>textureRect</key>
                <string>{{203,1},{78,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03622.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,111}</string>
                <key>spriteSourceSize</key>
                <string>{100,111}</string>
                <key>textureRect</key>
                <string>{{1,1},{100,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03623.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,103}</string>
                <key>spriteSourceSize</key>
                <string>{98,103}</string>
                <key>textureRect</key>
                <string>{{103,1},{98,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03624.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,107}</string>
                <key>spriteSourceSize</key>
                <string>{86,107}</string>
                <key>textureRect</key>
                <string>{{193,106},{86,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03625.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,104}</string>
                <key>spriteSourceSize</key>
                <string>{94,104}</string>
                <key>textureRect</key>
                <string>{{97,114},{94,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u_attack.png</string>
            <key>size</key>
            <string>{282,219}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aa4e9e05c2195c2580e73b65948f3fc2:ecc8a2a4e3d4f69ceda6041a3bed7064:dd1ab2c2310ab08e05da7acf6800bc7c$</string>
            <key>textureFileName</key>
            <string>u_attack.png</string>
        </dict>
    </dict>
</plist>
