<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>03540.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,121}</string>
                <key>spriteSourceSize</key>
                <string>{88,121}</string>
                <key>textureRect</key>
                <string>{{120,1},{88,121}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>03541.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,106}</string>
                <key>spriteSourceSize</key>
                <string>{90,106}</string>
                <key>textureRect</key>
                <string>{{1,85},{90,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>03542.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,117}</string>
                <key>spriteSourceSize</key>
                <string>{82,117}</string>
                <key>textureRect</key>
                <string>{{1,1},{82,117}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>03543.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,126}</string>
                <key>spriteSourceSize</key>
                <string>{90,126}</string>
                <key>textureRect</key>
                <string>{{1,181},{90,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>03544.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,128}</string>
                <key>spriteSourceSize</key>
                <string>{88,128}</string>
                <key>textureRect</key>
                <string>{{109,91},{88,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>03545.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,123}</string>
                <key>spriteSourceSize</key>
                <string>{104,123}</string>
                <key>textureRect</key>
                <string>{{129,181},{104,123}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u_run.png</string>
            <key>size</key>
            <string>{253,286}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:62a658b5817027a6fccbc88ca567b5d1:62887ba7b7b1b6270eca37d7ad4a6861:cc5ebed8aeea5c8944b803e1bbe0b8fd$</string>
            <key>textureFileName</key>
            <string>u_run.png</string>
        </dict>
    </dict>
</plist>
