<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>03920.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{327,2},{146,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,162}}</string>
                <key>sourceSize</key>
                <string>{146,162}</string>
            </dict>
            <key>03921.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{156,186},{148,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,172}}</string>
                <key>sourceSize</key>
                <string>{148,172}</string>
            </dict>
            <key>03922.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{152,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,178}}</string>
                <key>sourceSize</key>
                <string>{152,178}</string>
            </dict>
            <key>03923.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{156,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,182}}</string>
                <key>sourceSize</key>
                <string>{156,182}</string>
            </dict>
            <key>03924.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{156,360},{150,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,169}}</string>
                <key>sourceSize</key>
                <string>{150,169}</string>
            </dict>
            <key>03925.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{146,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,162}}</string>
                <key>sourceSize</key>
                <string>{146,162}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>d_run.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:760dacdab35b8bc273342eef8b1aec0e$</string>
            <key>textureFileName</key>
            <string>d_run.png</string>
        </dict>
    </dict>
</plist>
