<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>03860.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{250,2},{246,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,153}}</string>
                <key>sourceSize</key>
                <string>{246,153}</string>
            </dict>
            <key>03861.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{2,316},{242,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,153}}</string>
                <key>sourceSize</key>
                <string>{242,153}</string>
            </dict>
            <key>03862.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{244,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,154}}</string>
                <key>sourceSize</key>
                <string>{244,154}</string>
            </dict>
            <key>03863.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{246,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,156}}</string>
                <key>sourceSize</key>
                <string>{246,156}</string>
            </dict>
            <key>03864.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{250,157},{244,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,154}}</string>
                <key>sourceSize</key>
                <string>{244,154}</string>
            </dict>
            <key>03865.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{248,313},{242,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,154}}</string>
                <key>sourceSize</key>
                <string>{242,154}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>l_stand.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:be8c60a9578329993e181394867b06b8$</string>
            <key>textureFileName</key>
            <string>l_stand.png</string>
        </dict>
    </dict>
</plist>
