<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>03800.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{292,2},{144,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,125}}</string>
                <key>sourceSize</key>
                <string>{144,125}</string>
            </dict>
            <key>03801.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{152,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,125}}</string>
                <key>sourceSize</key>
                <string>{152,125}</string>
            </dict>
            <key>03802.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{144,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,122}}</string>
                <key>sourceSize</key>
                <string>{144,122}</string>
            </dict>
            <key>03803.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{156,129},{148,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,125}}</string>
                <key>sourceSize</key>
                <string>{148,125}</string>
            </dict>
            <key>03804.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{306,129},{154,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,125}}</string>
                <key>sourceSize</key>
                <string>{154,125}</string>
            </dict>
            <key>03805.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{142,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,122}}</string>
                <key>sourceSize</key>
                <string>{142,122}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>u_stand.png</string>
            <key>size</key>
            <string>{512,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c76a2cba392d7891ebdf9621ab69ae64$</string>
            <key>textureFileName</key>
            <string>u_stand.png</string>
        </dict>
    </dict>
</plist>
